<!DOCTYPE html>
        <% include partials/head %>
<body>
        <div class='main_window'>
                <% include partials/header %>
                <% include partials/scripts %>
        <div id="picture">
            <img src='/images/<%= office[1].picture %>'>
        </div>
        </div>
        <% include partials/footer %>
</body>