<!DOCTYPE html>
        <% include partials/head %>
<body>
        <div class='main_window'>
                <% include partials/header %>
                <% include partials/scripts %>

            <div id="picture">
                <img src='/images/<%= office[0].picture %>'>
            </div> 

        <div id="offer">

            <div id="KH">        
                <H2>Prowadzenie Ksiąg Handlowych:</H2>
                wszystkie wymagane przepisami ewidencje księgowe (księgi główne, pomocnicze, ewidencja środków trwałych, ewidencja wyposażenia, ewidencje podatku od towarów i usług );
                rozliczenie podatnika osoby prawnej;
                rozliczenie właścicieli;
                sporządzenie raportów (rocznych i miesięcznych);
                obsługa pracowników;
                rozliczenia z Urzędem Skarbowym i Zakładem Ubezpieczeń Społecznych
                sporządzanie zestawień ustalonych z klientem indywidualnie w zależności od jego potrzeb.
            </div>
            <div id="KPiR">
                <H2>Prowadzenie KPiR:</H2>
                ewidencja kosztów i przychodów;
                ewidencja środków trwałych;
                ewidencja wyposażenia, ewidencje podatku od towarów i usług;
                obsługa pracowników, rozliczenia właścicieli;
                rozliczenia z Urzędem Skarbowym i Zakładem Ubezpieczeń Społecznych.
            </div>

    <div id="KP">
        
            <H2>Obsługa Kadrowo Płacowa:</H2>
            <ul>lista płac;</ul>
            <ul>pasów wynagrodzeń;</ul>
            <ul>imiennych raportów osób ubezpieczonych (RMUA);</ul>
            <ul>deklaracji ZUS;</ul>
            <ul>deklaracji podatku od osób fizycznych (PIT,IFT);</ul>
            <ul>deklaracji PFRON;</ul>
            <ul>przekazywanie drogą elektroniczną dokumentów ZUS;</ul>
            <ul>przygotowywanie dla Zarządu (właścicieli) wszelkiego rodzaju sprawozdań dotyczących zatrudnienia;</ul>
            <ul>pomoc w przygotowaniu akt pracowników nowozatrudnionych.</ul> 
     </div>

    <div id="register">
    <H2>Rejestracje działalności:</H2>
            <ul>osoby fizyczne prowadzące działalność gospodarczą;</ul>
            <ul>spółki cywilne;</ul>
            <ul>spółki osobowe;</ul>
            <ul>spółki partnerskie;</ul>
            <ul>spółki handlowe.</ul>
    </div>

</div>
</div>
</body>
<% include partials/footer %>
</html>